<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="./style.css" rel="stylesheet" type="text/css" />
		<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
		<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
	</head>
	<body>
		<div id="menu_left" >
			{{menu}}
			<hr />
		</div>
		<div id="body_right">
			{{post}}
			<div id="menu_right_footer">
				Get Source Code on <a href="https://github.com/Seachaos/Chromoon" target="_blank">Github</a><br />
				Document made by <a href="https://github.com/Seachaos/DocScaffold" target="_blank" >DocScaffold</a>
			</div>
		</div>
		<script type="text/javascript">
		$('pre').addClass('prettyprint');
		</script>
	</body>
</html>