
html, body {
	height: 100%; width: 100%; margin: 0; background: #FDFDFD;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgb(51, 51, 51);
	overflow-x: hidden;
	overflow-y: hidden;
}
a{
	text-decoration: none;
	color: #008cdf;
}
a:hover{
	color: #60acff;
}
ul{
	color: rgb(54, 65, 73);
	cursor: auto;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	list-style-type: decimal;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 3px;
	padding-right: 15px;
	padding-top: 10px;
}

#menu_left{
	width:20%;
	height:100%;
	background: #EFEFEF;
	border-right: 1px solid #CCC;
	overflow-y:scroll;
	float:left;
	padding:10px;
}
#body_right{
	float:left;
	padding:10px 10px 10px 20px;
	height:100%;
	min-width:75%;
	background: #FDFDFD;
	overflow: scroll;
}
#menu_left a{
	color:#666;
}

h1{
	padding-bottom: .3em;
	font-size: 2.25em;
	line-height: 1.2;
	border-bottom: 1px solid #eee
}
h2{
	border-bottom: 1px solid #eee
}
h3{
	border-bottom: 1px solid #eee
}

pre{
	border:1px #CCC solid;
	padding:10px;
	color:#363;
}